<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="icon" href="~/img/favicon.png" type="image/png" />
    <title>Edustage Education</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/themify-icons.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />*@
    <link rel="stylesheet" media="all" href="~/Resources/css/style.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
 
    <style>
        body
        {
            //background: #ff0000;
        }
        .navA
        {
            position: fixed;
            background: #FFF;
            width: 100%;
            top: 0px;
        }
    </style>
</head>
<body>
    <div>
   @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <header id="header">
    <div class="container navA">
        <a href="index.html" id="logo" title="HarrisonHighSchool">HarrisonHighSchool</a>
        <div class="menu-trigger"></div>
        <nav id="menu">
            <ul>
                <li><a href="events.html">Courses</a></li>
                <li><a href="gallery.html">Students</a></li>
                <li><a href="events.html">Events</a></li>
            </ul>
            <ul>
                <li><a href="gallery.html">Teachers</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="#fancy" class="get-contact">Contact</a></li>
            </ul>
        </nav>
        <!-- / navigation -->
    </div>
    <!-- / container -->
    </header>
    <div >
        @RenderBody()
        <hr />
    </div>
    <footer id="footer">
        <div class="container">
            <section>
                <article class="col-1">
                    <h3>Contact</h3>
                    <ul>
                        <li class="address"><a href="#">G.T Road, Staff Houses Engineering <br>University Lahore, Lahore, Punjab 54890</a></li>
                        <li class="mail"><a href="#">iohcf@uet.edu.pk</a></li>
                        <li class="phone last"><a href="#">(042) 99029227</a></li>
                    </ul>
                </article>
                <article class="col-2">
                    <h3>Forum topics</h3>
                    <ul>
                        <li><a href="https://www.uet.edu.pk/administration/aboutadministration/index.html?RID=University_Officers">Administration</a></li>
                        <li><a href="https://www.uet.edu.pk/administration/aboutadministration/index.html?RID=authorities">UET Authorities</a></li>
                        <li><a href="https://www.uet.edu.pk/administration/aboutadministration/index.html?RID=associations">Associations</a></li>
                        <li><a href="https://www.uet.edu.pk/administration/aboutadministration/index.html?RID=exambranch">Examination Branch</a></li>
                        <li class="last"><a href="https://www.uet.edu.pk/faculties/facultiesinfo/index.html?RID=complete_faculty">Faculty Members</a></li>
                    </ul>
                </article>
                <article class="col-3">
                    <h3>Social media</h3>
                    @*<p>Temporibus autem quibusdam et aut debitis aut rerum necessitatibus saepe.</p>*@
                    <ul>
                        <li class="facebook"><a href="https://www.facebook.com/UETXNewsLahore/">Facebook</a></li>
                        <li class="google-plus"><a href="https://plus.google.com/100993586161527813287">Google+</a></li>
                        <li class="twitter"><a href="https://twitter.com/uet_official">Twitter</a></li>
                        <li class="pinterest"><a href="https://www.pinterest.com/pin/422845852489220930/">Pinterest</a></li>
                    </ul>
                </article>
                <article class="col-4">
                    <h3>Newsletter</h3>
                    <p>Feel free to contact us. Our services are on 24/7</p>
                    <form action="#">
                        <input placeholder="Email address..." type="text">
                        <button type="submit">Subscribe</button>
                    </form>
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                </article>
            </section>
            <p class="copy">Copyright 2019 UET Lahore. Designed by <a href="#" title="Designed by Hamza Farooq, Ayesha Atif CS16" target="_blank">Hamza Farooq, Ayesha Atif CS16</a>. All rights reserved.</p>
        </div>
        <!-- / container -->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </div>
</body>
</html>
