<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Libraries-->
    <link rel="stylesheet" href="~/Resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Resources/css/elegant-fonts.css">
    <link rel="stylesheet" href="~/Resources/css/themify-icons.css">
    <link rel="stylesheet" href="~/Resources/css/swiper.min.css">
    <link rel="stylesheet" href="~/Resources/css/style.css">
    <!--Libraries-->

    <style>
        .navA {
            background: rgba(0, 0, 0, 0.8);
            position: fixed;
        }

        .footerA {
            background: rgba(60, 60, 60, 1);
        }

        .contentA {
            margin-top: 42px;
        }

        body {
            padding-bottom: 0px;
        }
    </style>

</head>
<body>
    <header class="site-header navA">
        @*<div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email d-flex align-items-center">
                                <i class="fa fa-envelope"></i><a href="#">tuanna.design@gmail.com</a>
                            </div><!-- .header-bar-email -->

                            <div class="header-bar-text lg-flex align-items-center">
                                <p><i class="fa fa-phone"></i>001-1234-88888 </p>
                            </div><!-- .header-bar-text -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="What would you like to learn?">
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->*@
        <div class="nav-bar" @*style="padding-top: 0px; padding-bottom: 0px;"*@>
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="index.html" rel="home">L<span>MS</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                        <nav class="site-navigation flex justify-content-end align-items-center">
                            <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">

                                <li style=""><a href="/Course"></a></li>
                                <li class="current-menu-item"><a href="/Home"> Home</a></li>
                                <li><a href="/Reports">Reports</a></li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#">Links</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Course">Course</a></li>
                                        <li><a href="/Employee">Employee</a></li>
                                        <li><a href="/Student">Student</a></li>
                                        <li><a href="/Batch">Batch</a></li>
                                        <li><a href="/Semester">Semester</a></li>
                                        <li><a href="/Attendance/Create">Attendance</a></li>
                                        <li><a href="/Result/ViewResult">Result</a></li>
                                        <li><a href="/Timetable">Timetable</a></li>
                                    </ul>
                                </li>
                            </ul>
                            @*<div class="dropdown">
                                    <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown button
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>*@
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <div class="header-bar-cart">
                                <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                            </div><!-- .header-bar-search -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="container body-content contentA">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
    </div>
    <footer class="site-footer footerA">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h1 class="site-title"><a href="index.html" rel="home">L<span>MS</span></a></h1>



                            <p class="footer-copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact Us</h2>

                            <ul>
                                <li>Email: registrar@uet.edu.pk</li>
                                <li>Phone: 042-99029216, 042-99029452</li>
                                <li>G.T Road, Staff Houses Engineering University Lahore, Lahore, Punjab 54890</li>
                            </ul>
                        </div><!-- .foot-contact -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="quick-links flex flex-wrap">
                            <h2 class="w-100">Quick Links</h2>

                            <ul class="w-50">
                                <li><a href="#">About </a></li>
                                <li><a href="#">Terms of Use </a></li>
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>


                        </div><!-- .quick-links -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="follow-us">
                            <h2>Follow Us</h2>

                            <ul class="follow-us flex flex-wrap align-items-center">
                                <li><a href="https://www.facebook.com/UETXNewsLahore/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://uet.edu.pk/"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://www.instagram.com/explore/locations/227738345/uet-lahore?hl=en"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/uet_official"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->
        <!-- .container -->

    </footer><!-- .site-footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
